body.page {
    background-color: #000;
}

.overlay-background-top {
    background: linear-gradient(0deg, rgba(25, 25, 25, 0) 0%, #000 100%);
}

.overlay-background-bottom {
    background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #000 100%);
}