.page {
  .background-home-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .arrow-hero {
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
  }

  .arrow-hero img {
    width: 20px;
  }

  @keyframes bounce-2 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .overlay-hero {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 45% !important;
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%);
  }
}