#menuToggle {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 150;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:nth-last-child(1) {
      transform-origin: 0% 100%;
      width: 20px;
      transition: width 0.5s, left 0.5s, transform 0.5s;
      margin: 0;
    }
  }

  &:hover {
    & span {
      &:nth-last-child(1) {
        transform-origin: 0% 100%;
        width: 33px;
        transition: width 0.5s, transform 0.5s;
      }
    }
  }

  &.open {
    & span {
      transform: rotate(45deg);
      background: #fff;
      width: 33px;

      &:nth-of-type(2) {
        opacity: 0;
        transform: rotate(0) scale(0.2, 0.2);
      }
      &:nth-last-child(1) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, 2px);
        width: 33px;
      }
    }
  }
}

.mobile-navbar-block {
  background-color: black;
  height: 0px;
  position: fixed;
  z-index: 11;
  transition: 0s;

  nav {
    opacity: 0;
    display: none;
    transition: 0.3s;
  }

  &.open {
    height: 100vh;
    padding: 30px;
    padding-top: 150px;
    transition: .4s;
    @media only screen and (min-width: 125px) {
      padding-top: 30px;
    }
    opacity: 1;
    @media only screen and (min-width: 125px) {
      height: auto;
    }
    nav {
      transition-delay: 0.6s !important;
      transition: 0.5s;
      opacity: 1;
      display: block;
    }
  }
}

.overlay {
  &.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262121;
    opacity: 0.95;
    z-index: 10;
  }
}
